body {
  background-color: #232323;
  font-size: 18px;
  margin: 0;
  font-family: "Avenir", "Montserrat";
}

h1 {
  color: white;
  text-align: center;
  background-color: steelblue;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1.1;
  padding: 20px 0;
}

.square {
  display: flex;
  width: 30%;
  background-color: purple;
  padding-bottom: 30%;
  margin-bottom: 5%;
  border-radius: 15%;
  transition: background 0.3s;
  --webkit-transition: background 0.3s;
  --moz-transition: background 0.3s;
}

#container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 600px;
}

#colorDisplay {
  font-size: 200%;
}

#message {
  display: inline-block;
  width: 20%;;
}

#stripe {
  background-color: white;
  height: 30px;
  text-align: center;
  margin-bottom: 5%;
}

.selected {
  color: white;
  background: steelblue;
}

button {
  border: none;
  background: none;
  text-transform: uppercase;
  height: 100%;
  font-weight: 700;
  color: steelblue;
  letter-spacing: 1px;
  font-size: inherit;
  transition: all 0.3s;
  --webkit-transition: all 0.3s;
  --moz-transition: all 0.3s;
  outline: none;
}

button:hover {
  color: white;
  background: steelblue;
}